<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= t('questions_headers.registered',
      model: @questions.model_name.human(count: 2)) %></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" cellspacing="0">
          <thead>
            <tr>
              <th><%= translate_method(@questions, :id) %></th>
              <th><%= translate_method(@questions, :description) %></th>
              <th><%= translate_method(@questions, :subject) %></th>
              <th><%= link_to new_admins_backoffice_question_path,
                class:"btn btn-success btn-circle btn-sm" do %>
                  <i class="fas fa-plus-circle"></i>
                <% end %>
              </th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><%= translate_method(@questions, :id) %></th>
              <th><%= translate_method(@questions, :description) %></th>
              <th><%= translate_method(@questions, :subject) %></th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <% @questions.each do |question| %>                    
              <tr>
                <td><%= question.id %></td>
                <td><%= question.description.truncate(80) %></td>
                <td><%= question.subject.description %></td>
                <td class="text-nowrap"><%= link_to edit_admins_backoffice_question_path(question),
                class:"btn btn-info btn-circle btn-sm" do %>
                <i class="fas fa-user-edit"></i>
                <% end %>
                <%= link_to admins_backoffice_question_path(question), method: :delete, 
                class:"btn btn-danger btn-circle btn-sm",
                data: { confirm: t('messages.question.confirm',
                item: question.description.truncate(25))} do %>
                <i class="fas fa-trash"></i>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
