<div class="login_wrapper">
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1><%= t('label.Signin') %></h1>
      <div>
        <%= f.email_field :email, class:"form-control", autofocus: true, placeholder:"email" %>
      </div>
      <div>
        <%= f.password_field :password, class:"form-control", placeholder:"password" %>
      </div>
      <div>
        <%= f.submit t('label.Signin'), class:"btn btn-default submit" %>
      </div>
      <div class="clearfix"></div>
      <div class="separator">
        <p class="change_link" >New to site?
          <%= render "users/shared/links" %>
        </p>
        <div class="clearfix"></div>
        <br />
        <div>
          <p>©2020 All Rights Reserved.</p>
        </div>
      </div>
    <% end %>
  </section>
</div>