  <% if @question.errors.any?%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li>
            <strong><%= message %></strong>
          </li>
        <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <body class="bg-gradient-primary">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-10">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row justify-content-md-center">
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4"><%= "#{action_message}"%> <%= @question.model_name.human %></h1>
                    </div>
                    <hr>
                    <%= form_with(model: [:admins_backoffice, @question ], local: true,
                    html: { class: "user" }) do |form| %>
                      
                      <div class="form-group">
                        <%= form.collection_select(:subject_id, @subjects, :id, :description, 
                        {}, {class:"custom-select custom-select-sm form-control form-control-sm"} )%>
                      </div>
                      
                      <div class="form-group">
                        <%= form.text_field :description, class:"form-control form-control-user",
                          id:"exampleInputEmail", placeholder: @question.model_name.human %>
                      </div>

                      <div id='answers'>
                        <%= form.fields_for :answers do |answer| %>
                          <%= render partial: 'answer_fields', locals: { f: answer } %>
                        <% end %>
                        <%= link_to_add_association 'add answer', form, :answers %>
                      </div>

                      <div class="row justify-content-md-center">
                        <div class="col-lg-6">
                          <button type="submit" class="btn btn-primary btn-user btn-block">
                            <%= t('label.Submit') %>
                          </button>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>