<!-- Begin Page Content -->
<div class="container-fluid">
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><%= t('headers.registered',
    model: @admins.model_name.human(count: 2)) %></h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= translate_method(@admins, :id) %></th>
            <th>Name</th>
            <th><%= translate_method(@admins, :email) %></th>
            <th><%= link_to new_admins_backoffice_admin_path,
            class:"btn btn-success btn-circle btn-sm" do %>
            <i class="fas fa-plus-circle"></i>
            <% end %>
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><%= translate_method(@admins, :id) %></th>
            <th>Name</th>
            <th><%= translate_method(@admins, :email) %></th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <% @admins.each do |admin| %>                    
            <tr>
              <td><%= admin.id %></td>
              <td><%= admin.id %></td>
              <td><%= admin.email %></td>
              <td><%= link_to edit_admins_backoffice_admin_path(admin),
              class:"btn btn-info btn-circle btn-sm" do %>
              <i class="fas fa-user-edit"></i>
              <% end %>
              <%= link_to admins_backoffice_admin_path(admin), method: :delete,
              class:"btn btn-danger btn-circle btn-sm", 
              data: {confirm: t('messages.admin.confirm', item: admin.email)} do %>
              <i class="fas fa-trash"></i>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  

